*.lock
charts/*/charts

.DS_Store

# geoserver
docker/geoserver/cluster/kahadb/
docker/geoserver/cluster/embedded-broker.properties
docker/geoserver/logs

# Values de deploy em ambientes
**/values.*.yaml
**/values.*.yml

# dump dos arquivos de template
**/manifest.yaml
**/manifest.yml

# rascunho
draft/